PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox
PAYPAL_WEBHOOK_ID=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
FRONTEND_URL=http://localhost:4200
